{:logseq-vim-shortcuts {:version "v0.1.19", :repo "vipzhicheng/logseq-plugin-vim-shortcuts", :effect true, :theme false}
 :logseq-journals-calendar {:version "v0.10.10", :repo "xyhp915/logseq-journals-calendar", :effect false, :theme false}
 :logseq-bullet-threading {:version "v1.1.2", :repo "pengx17/logseq-plugin-bullet-threading", :effect false, :theme false}
 :logseq-agenda {:version "v2.15.2", :repo "haydenull/logseq-plugin-agenda", :effect true, :theme false}
 :logseq-heatmap {:version "v2.4.3", :repo "pengx17/logseq-plugin-heatmap", :effect true, :theme false}
 :logseq-mark-map {:version "v0.3.17", :repo "vipzhicheng/logseq-plugin-mark-map", :effect false, :theme false}
 :logseq-tags {:version "v0.1.2", :repo "gidongkwon/logseq-plugin-tags", :effect false, :theme false}
 :logseq-markdown-table {:version "v1.7.1", :repo "haydenull/logseq-plugin-markdown-table", :effect false, :theme false}
 :logseq-pdf-export-plugin {:version "2.2.8", :repo "sawhney17/logseq-pdf-export", :effect true, :theme false}
 :logseq-block-to-page {:version "v1.3.0", :repo "hyrijk/logseq-plugin-block-to-page", :effect false, :theme false}
 :logseq-todo-master {:version "v1.10.3", :repo "pengx17/logseq-plugin-todo-master", :effect false, :theme false}
 :logseq-link-preview {:version "v2.2.10", :repo "pengx17/logseq-plugin-link-preview", :effect true, :theme false}
 :logseq-kanban-plugin {:version "2.7.15", :repo "hkgnp/logseq-kanban-plugin", :effect false, :theme false}
 :logseq-tocgen {:version "v2.7.0", :repo "sethyuan/logseq-plugin-tocgen", :effect true, :theme false}
 :logseq-move-block {:version "v0.1.0", :repo "vipzhicheng/logseq-plugin-move-block", :effect true, :theme false}
 :logseq-anki-sync {:version "v4.5.1", :repo "debanjandhar12/logseq-anki-sync", :effect true, :theme false}
 :logseq-awesome-links {:version "v1.15.16", :repo "yoyurec/logseq-awesome-links", :effect true, :theme false}
 :logseq-banners-plugin {:version "v3.4.11", :repo "yoyurec/logseq-banners-plugin", :effect true, :theme false}
 :logseq-random-note {:version "1.1.0", :repo "tankcool/logseq-random-note", :effect false, :theme false}
 :logseq-graph-analysis {:version "0.10.2", :repo "trashhalo/logseq-graph-analysis", :effect false, :theme false}
 :logseq-diagrams-as-code {:version "0.0.21", :repo "npgrosser/logseq-diagrams-as-code", :effect false, :theme false}
 :logseq-oxford-blue-theme {:version "v0.2.0", :repo "blueteafrog/logseq-oxfordblue-theme", :effect false, :theme true}
 :logseq-batch-op {:version "v0.4.5", :repo "sethyuan/logseq-plugin-batch-op", :effect true, :theme false}
 :logseq-wrap {:version "v0.7.1", :repo "sethyuan/logseq-plugin-wrap", :effect true, :theme false}
 :logseq-ol {:version "v0.4.4", :repo "sethyuan/logseq-plugin-ol", :effect false, :theme false}
 :logseq-pomodoro-timer {:version "1.0.1", :repo "sawhney17/logseq-pomodoro-plugin", :effect false, :theme false}
 :logseq-doc {:version "v1.15.0", :repo "sethyuan/logseq-plugin-doc", :effect true, :theme false}
 :logseq-automatic-linker {:version "1.5.0", :repo "sawhney17/logseq-automatic-linker", :effect false, :theme false}
 :logseq-localassets-plugin {:version "1.6.5", :repo "hkgnp/logseq-localassets-plugin", :effect true, :theme false}
 :logseq-vim-editor {:version "v0.0.6", :repo "vipzhicheng/logseq-plugin-vim-editor", :effect false, :theme false}
 :logseq-kanban-board {:version "v1.8.0", :repo "sethyuan/logseq-plugin-kanban-board", :effect true, :theme false}
 :logseq-plugin-task-check-date {:version "1.0.6", :repo "DimitryDushkin/logseq-plugin-task-check-date", :effect false, :theme false}}
