/*------------------------------------------------------------------*/
/*          This file contains css snippets related to the          */
/*                         fonts, etc, styles                       */
/*------------------------------------------------------------------*/
/* Hack to set nowrap for paragraph */
/* .cm-line { */
/*   white-space: pre; */
/* } */

/* Hack to set nowrap for code blocks */
/* .HyperMD-codeblock { */
/*   white-space: pre; */
/* } */

/* Center the file name inline title */
/*                  OR               */
/* don't display inline title */
.inline-title {
  display: none;
  font-size: 2rem;
  text-align: center;
}
