layout {
	pane_template name="status-bar" {
		pane {
			size 1
			borderless true
			plugin location="zellij:compact-bar";
		}
	}
	tab name="nvim" {
		// status bar at the top
		status-bar
		pane {
			split_direction "vertical" 
			pane {
				command "nvim" 
				size "70%" 
				borderless true;
				cwd "/home/safdar/.config/nvim/"
			}
		}
	}
	tab name="dir" {
		// status bar at the top
		status-bar
		pane {
			split_direction "horizontal" 
			stacked true
			pane {
				command "tree" 
				start_suspended true
				cwd "/home/safdar/.config/nvim"
			}
			pane {
				focus true
				command "ls"
				size "30%"
				start_suspended true
				args "-1"
			}
		}
	}
}
