layout {
	// status bar at the bottom
	pane size=1 borderless=true {
		plugin location="zellij:compact-bar";
	}
	pane split_direction="vertical" {
		pane command="nvim" {
			// TODO: ???
			args ".config/nvim/"
		}
		pane split_direction="horizontal" {
			pane
			pane
		}
	}
}

// layout {
//     pane edit="src/main.rs"
//     floating_panes {
//         pane command="cargo" {
//             args "check"
//             y "55%"
//             width "45%"
//             height "45%"
//         }
//         pane command="cargo" {
//             args "run"
//             x "1%"
//             y "1%"
//             width "45%"
//             height "45%"
//         }
//         pane command="cargo" {
//             args "test"
//             x "50%"
//             y "1%"
//             width "45%"
//             height "45%"
//         }
//     }
// }
