layout {
	// global cwd
	cwd "/home/safdar/.config/nvim/"
	default_tab_template {
		pane {
			size 1
			borderless true
			plugin location="zellij:compact-bar";
		}
		children
	}
	tab name="plugin dir" {
		pane {
			split_direction "vertical" 
			pane command="/home/safdar/Dotfiles/scripts/bin/zellij-scripts/zi-lazy" {
				size "70%" 
				borderless true;
			}
		}
	}
	tab name="nvim config" {
		pane {
			split_direction "vertical" 
			pane {
				command "nvim" 
				size "70%" 
				borderless true;
			}
		}
	}
	tab name="dir" {
		pane {
			split_direction "horizontal" 
			stacked true
			pane {
				command "tree" 
				start_suspended true
			}
			pane {
				focus true
				command "ls"
				size "30%"
				start_suspended true
				args "-1"
			}
		}
	}
}
