# location >>>> /etc/systemd/system/
[Unit]
Description= Screen Resolution using Xrandr
After=network.target

[Service]
Type=simple
ExecStart=/home/malik/bin/screen-res.sh
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
