[Unit]
Description=Auto Wallpaper Changer

[Service]
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/safdarawan/bin/auto_change_wallpaper.sh

Restart=on-failure
RestartSec=2
KillMode=process

[Install]
WantedBy=default.target
