[Unit]
Description=Lacuh Kmonad

[Service]
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/safdarawan/bin/kmonad.sh

Restart=on-success
RestartSec=2
KillMode=process

[Install]
WantedBy=default.target
