# location >>>> /etc/systemd/system/
[Unit]
Description= Screen Resolution Changer

[Service]
ExecStart=/home/malik/bin/screen-res.sh
Restart=always

[Install]
WantedBy=multi-user.target
