{
  "editorconfig": false,
  "singleQuote": true,
  "printWidth": 81,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "prettier.htmlWhitespaceSensitivity": "ignore",
  "useTabs": false
}
