%backup%~
.cache/
.last-package-update-day
.org-id-locations
bookmarks
elpa/
eshell/
etc/
setup/UI.el
setup/anki-editor.el
setup/boot-strap.el
setup/completion.el
setup/config.el
setup/custom-functions.el
setup/dired.el
setup/fonts-setting.el
setup/init.el
setup/keybindings.el
setup/language-support.el
setup/navigation.el
setup/note-taking.el
setup/other-packages.el
setup/rss-reader.el
setup/theme-settings.el
setup/vim-bindings.el
setup/zotero.el
setup/zotero.org
transient/
